$font-stack:    Helvetica, sans-serif;
$primary-color: #000;
$primary-bg-color: #d3d3d3;

$accent-font-color: #FFF;
$accent-bg-color: #000;

$secondary-font-color:#FFF;
$secondary-bg-color:red;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-bg-color;
}

#topMenu {
	color: $accent-font-color !important;
	background-color: $accent-bg-color;

	a {
		color: $accent-font-color;
		&:hover { background-color: $primary-bg-color; }
	}
}
